html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #9CAA83;
  margin: 0;
  padding: 0;
}
.carousel-container {
  width: 100vw;
  height: 17em;
  /*border: red 2px solid;*/
  background-color: #2E3133;
  display: flex;
  align-items: center;
  overflow: scroll;

}
.carousel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.images{
  height:12em;
  width: 12em;
  border-radius: 15px;
  margin-left: 10px;

}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #6EBBC9;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .addPhoto-Body{
    height: 200px;
    width: 100%;
    background-color: brown;
  }
  #homeSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
  }
 .search{
   height: 60px;
   width: 350px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   font-size: 35px;
 }
.addButton{
  height: 64px;
  width: 80px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 30px;
  font-style: italic;
  background-color: #878787;
}
.buttonText{
  color: #6EBBC9;
}
