<div class="carousel-container">

    <div class="add-remove" ng-repeat="photo in apiPhotos track by $index" >
        <img ng-src="{{photo.url}}" alt="" class="images"  ng-mouseover="showButton = true"  ng-mouseleave="showButton = false" />
        <button class="photo-button" type="button" name="button" ng-show="showButton"> Click </button>

    </div>

</div>
<section id="homeSearch">
  <div class="search-bar">
    <input class="search" placeholder="search" ng-model="search"></input>
    <button class="addButton" ng-click="getPhotos(search)">Search</button>

  </div>
</section>
<section class="photos-body">

  <div ng-repeat="random in randomPhotos" ng-click="addPhoto(random)" ng-Dblclick="removePhoto(random)">
    <div class="images" ng-style="{'background-image': 'url({{random.url}})', 'background-size': 'cover'}">

      <!-- <img ng-src="{{random.url}}" alt="" class="images" /> -->

      <div ></div>
  <div ng-hide="hidden">

  </div>

    </div>

  </div>

</section>
