
<section id="homeSearch">
  <div class="search-bar">
    <input class="search" placeholder="search" ng-model="search"></input>

    <button class="addButton" ng-click="getPhotos(search)">Search</button>

  </div>
</section>
<div class="">
  <p>
    SMILES :)
  </p>
</div>
<div class="carousel-container-home">

    <div class="add-remove" ng-repeat="photo in apiPhotos">
        <img ng-src="{{photo.url}}" alt="" class="images" />

    </div>

</div>
<!-- <section class="photos-body">

  <div ng-repeat="random in randomPhotos">
    <img ng-src="{{random.url}}" class="images" />

  </div>

</section> -->
