
<section id="homeSearch">
  <div class="search-bar">

<h1 class="homeText">Welcome to <span class="sik">SIK</span></h1>
    <!-- <input class="search" placeholder="search" ng-model="search"></input>
    <button class="addButton" ng-click="getPhotos(search)" ui-sref="addy">Search</button> -->

  </div>
</section>


<div class="carousel-container-home">

    <div class="add-remove" ng-repeat="photo in apiPhotos">
        <img ng-src="{{photo.url}}" alt="" class="images" ng-mouseover="showButton = true"  ng-mouseleave="showButton = false" />
        <button class="photo-button" type="button" name="button" ng-show="showButton"> Remove </button>


    </div>
</div>
